body {
    font-family: 'Lobster', cursive;
    background-color: #000;
    color: #fff;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.typing {
    font-size: 2em;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid aquamarine;
    animation: typing 3s steps(14) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
